.upsell-light {
    margin: 0 0 25px;
}

.upsell-light .opt-label--preference {
    width: 100%;
    flex-direction: column;
    gap: 0;

    cursor: pointer !important;
}

.upsell-light .opt-label--preference::before,
.upsell-light .opt-label--preference::after {
    display: none !important;
}

.upsell-item__badge {
    position: absolute;
    top: -12px;
}

.upsell-item__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    width: 100%;

    padding-bottom: 12px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 12px;
}

.upsell-item__checkbox {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 2px solid #C5CAD2;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .15s linear
}

.upsell-item__checkbox > svg {
    opacity: 0;
    transition: .15s linear;
}

.upsell-item__checkbox > svg path {
    stroke: #FFFFFF;
}

.upsell-light input[type="checkbox"]:checked + label .upsell-item__checkbox {
    background: #182D4D;
    border: 2px solid #182D4D;
}

.upsell-light input[type="checkbox"]:checked + label .upsell-item__checkbox > svg {
    opacity: 1;
}

.upsell-item__prices {
    display: flex;
    align-items: center;
    gap: 0;

    margin-left: auto;
}

.upsell-item__content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;
}

.upsell-item__content ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    color: #A4A8AD;
    font-weight: 500;
}

.upsell-light input[type="checkbox"]:checked + label .upsell-item__content ul li {
    color: #018D34;
}

.upsell-item__content ul li .icon--checkmark {
    display: none;
}

.upsell-light input[type="checkbox"]:checked + label .upsell-item__content ul li .icon--checkmark {
    display: flex;
} 

.upsell-light input[type="checkbox"]:checked + label .upsell-item__content ul li .icon--cross {
    display: none;
}

.upsell-item__prices .option-price--original::after {
    background: var(--product-label-sale-background) !important;
}