.hero__container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: var(--theme-sticky-header-height);
}

.hero__content,
.hero__media-container {
  flex: 1 1 540px;
}

.hero__title {
  margin: 0 0 12px;
}

.hero__title > * {
  color: rgb(var(--text-color));
  font-family: var(--heading-font-family);
  font-size: 120px;
  font-style: normal;
  font-weight: var(--heading-font-weight);
  line-height: 100px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin: 0;
}

[lang="de"] .hero__title > * {
  line-height: 120px;
}

.hero__title strong {
  color: var(--highlight-color);
  display: inline-block;
  margin-bottom: 12px;
  font-weight: var(--heading-font-weight);
}

.hero__text {
  color: rgb(var(--text-color));
  font-family: var(--base-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.hero__button {
  background-color: #E8412C;
  border-color: #E8412C;
  padding: 12px 28px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  margin: 32px 0 0;
  width: fit-content;
  min-width: 280px;
}

.hero__image-container {
  position: relative;
  margin: 0 0 12px;
  border-radius: 60px;
  overflow: hidden;
}

.hero__image-container::before {
  content: '';
  display: block;
  padding-top: 80%;
}

.hero__image-container img,
.hero__image-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__reviews-container {
  padding: 20px 28px 20px 32px;
  border-radius: 999px 0px 0px 999px;
  background: #FFF;

  position: absolute;
  bottom: 16px;
  right: -4px;
  z-index: 2;
}

.hero-reviews__rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 8px;
}

.hero-reviews-rating__image-container {
  display: flex;
  position: relative;
  max-width: 107px;
  height: 20px;
  width: auto;
}

.hero-reviews-rating__image-container img {
  position: initial;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero-reviews-rating__text {
  color: rgb(var(--text-color));
  font-family: var(--base-font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.hero-reviews__text {
  color: rgb(var(--text-color));
  font-family: var(--heading-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

.hero__advantages:empty {
  display: none;
}

.hero__advantages {
  padding: 12px 8px;
  border-radius: 40px;
  background: #FFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hero-advantage {
  padding: 0 12px;
}

.hero-advantage__image {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto 12px;
}

.hero-advantage__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-advantage__text {
  color: rgb(var(--text-color));
  font-family: var(--heading-font-family);
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: 22px;
  text-transform: uppercase;
}

@media screen and (max-width: 880px) {
  .hero__container {
    flex-direction: column;
  }

  .hero__content,
  .hero__media-container {
    flex: auto;
  }

  .hero__title > * {
    font-size: 80px;
    line-height: 72px;
    letter-spacing: -0.8px;
  }

  [lang="de"] .hero__title > * {
    font-size: 50px;
    line-height: 50px;
  }

  .hero__text {
    line-height: 24px;
  }

  .hero__button {
    width: 100%;
    max-width: none;
  }

  .hero__image-container {
    border-radius: 40px;
    margin: 0 0 8px;
  }

  .hero__image-container::before {
    padding-top: 105.55%;
  }

  .hero__advantages {
    grid-template-columns: 1fr;
    gap: 12px;
    border-radius: 32px;
    padding: 20px;
  }

  .hero-advantage {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .hero-advantage__image {
    margin: 0;
  }

  .hero-advantage__text {
    text-align: left;
  }

  .hero-advantage__text br {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .hero__title > * {
    font-size: 70px;
  }

  [lang="de"] .hero__title > * {
    font-size: 40px;
    line-height: 40px;
  }
}