.comparison-table{
    max-width: 560px;
}

.comparison-table .btn{
    border: none;
    margin-bottom: 25px;
}

.comparison-table__table{
    font-family: var(--heading-font-family);
}

.table-row--heading .h3{
    margin-bottom: 0;
}

.table-row{
    display: flex;
    justify-content: end;
}

.table-cell{
    flex: 0 0 calc(100% / 3)
}

.table-cell--background{
    background: rgb(var(--body-text-color));
    color: #fff;
}

.table-row--heading img{
    width: 50px;
    height: auto;
}

.table-cell{
    padding: 5px;
    display: flex;
    align-items: center;
    min-height: 67px;
}

.table-cell:not(.table-cell--title){
    justify-content: center;
}

.table-row--body img{
    width: 30px;
    height: auto;
}

.table-cell--value{
    border-top: 2px solid rgb(var(--body-text-color));
}

.table-cell--value.table-cell--background{
    border-color: #fff;
}

.table-row--heading > *:first-child{
    border-radius: 10px 0 0 0;
}

.table-row--heading > *:last-child{
    border-radius: 0 10px 0 0;
    border-top: 2px solid rgb(var(--body-text-color));
}

.table-row:last-child > .table-cell--background{
    border-radius:  0 0 0 10px;
}

.table-row:last-child > .table-cell--value:last-child{
    border-radius: 0 0 10px 0;
    border-bottom: 2px solid rgb(var(--body-text-color));
    font-size: calc(3 * var(--font-scale) + var(--base-text-size));
}

.table-cell:last-child{
    border-right: 2px solid rgb(var(--body-text-color));
}


